<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{fragments/layout}">
<head>
<title>Secured</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<h1>This is a secured page!</h1>
		<div sec:authorize="isAuthenticated()">This content is only
			shown to authenticated users.</div>
		<div sec:authorize="hasRole('ROLE_ADMIN')">This content is only
			shown to administrators.</div>
		<div sec:authorize="hasRole('ROLE_USER')">This content is only
			shown to users.</div>
		<p>
			<a href="/" th:href="@{/}">Back to home page</a>
		</p>
		<p>
			<a href="/" th:href="@{/logout}">Logout</a>
		</p>
	</div>
</body>
</html>